<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jsp.org/xml/ns/javaee "
         version = "3.1">
    <display-name>
        Application Servlet
    </display-name>
    <description>
        This application for get current time
    </description>
    <servlet>
        <servlet-name>Clock</servlet-name>
        <servlet-class>ua.java.servlets.ClockServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Clock</servlet-name>
        <url-pattern>/clock</url-pattern>
    </servlet-mapping>
</web-app>